#!/bin/bash

echo -ne "#KSVER=RHEL7\n\n"
cat ks_items/ks_gen_cfg
./ks_rootpw
./ks_sshpw

cat ks_items/ks_install_src_el7

## CHANGE HOSTNAME
HOSTNAME="TEST"
echo "network --hostname=${HOSTNAME}"
cat ks_network/net_dhcp

## add packages selections
echo '
###########################################################
%packages --ignoremissing --excludedocs
'
cat ks_items/ks_pkg_generic_vm_el7

echo '
%end
'
## create post section
echo '
###########################################################
%post --log=/root/ks.log
#!/bin/bash

'

cat ks_items/ks_post_cleanup_repos_el7
cat ks_items/ks_post_repo_2localrepos
cat ks_items/ks_post_regdns
cat ks_items/ks_post_ssh
cat ks_items/ks_post_finishcfg
cat ks_items/ks_post_dracut
cat ks_items/ks_post_boot

echo '
echo "End of Kickstart"
%end

%addon com_redhat_kdump --disable
%end

'
